---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, monospace;
}

header h1 {
  font-family: Oswald, monospace;
  margin: 0 0 0 -21px;
}

tr:nth-child(even) {
    background-color: #333;
}

#main_content img {
  margin: 0 auto;
  display: block;
}

/* Special headers in weapon table*/

#weapon-list-content td > strong {
    background-color: $body-foreground;
    font-family: Oswald, monospace;
    color: $body-background;
    display: block;
    margin: 0 -10px;
    padding: 0 10px;
    text-align: center;
}

/* Stat Blocks */

.statblock + .statblock {
    margin-top: 30px;
}

.statblock {
    background-color: #00000040;
    margin: 0 8%;
    border: 1px dashed $conifer;
    padding: 10px;
}

.statblock strong, .statblock th {
  color: $conifer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}

.statblock table {
  width: auto;
}

/* Table of Contents */

.toc {
  margin-left: 50px;
  position: sticky;
  float: left;
  top: 20px;
  font-family: Oswald, monospace;
  color: $conifer;
}
@media (max-width: 1600px) {
  /* Hide in small devices */
  .toc {
    display: none;
  }
}


.toc a.toc-link {
  color: $body-foreground;
}
.toc a.is-active-link {
  color: $conifer;
}
.is-active-link::before {
  background-color: $conifer !important;
}