---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, monospace;
}

header h1 {
  font-family: Oswald, monospace;
  margin: 0 0 0 -21px;
}

#downloads {
  display: none;
}

#weapon-list-content td > strong {
    background-color: $body-foreground;
    font-family: Oswald, monospace;
    color: $body-background;
    display: block;
    margin: 0 -10px;
    padding: 0 10px;
    text-align: center;
}
